<article class="card">
  <img src="{{article.url | articleCoverUrl: article.data.cover}}" alt="" class="card__cover">

  <h3 class="card__title">
    <a href="{{article.data.externalUrl | default: article.url}}" class="card__link">
      {{ article.data.title }}
    </a>
  </h3>

  <div class="card__info">
    <p class="card__description">{{ article.data.description }}</p>

    <span>{{ article.data.date | formatDate }}</span>
  </div>
</article>
